
<section id="all-templates" style="display: block;">
    <h4>Templates 9:16</h4>
  
   <div class="9-16">
    <div class="both-card">
      <form action="" method="post">
        {% csrf_token %}
      <div class="card1">
        <div class="card original" style="width: 18rem;">
          <div class="card-body">
            <input class="card-title" name="temp1" value="Original Video">
          </div>
        </div>
        <div class="card merged" style="width: 18rem;">
          <div class="card-body">
            <input class="card-title" name="temp1" value="Merged Video">
          </div>
        </div>
      </div>
  
      <br>
      <label for="">Select sound:</label>
      <select name="sound" id="">
          <option value="no_sound">No Sounds</option>
          <option value="s_from_original">Sound from original</option>
          <option value="s_from_merged">Sound from merged</option>
          <option value="s_from_both">Sound from both</option>
      </select><br>
      <button type="submit" class="btn btn-success">Select</button>
      </form>
    </div>
    <div class="both-card">
      <form action="" method="post">
        {% csrf_token %}
      <div class="card2">
        <div class="card merged" style="width: 18rem;">
          <div class="card-body">
            <input class="card-title" name="temp2" value="Merged Video">
          </div>
        </div>
        <div class="card original" style="width: 18rem;">
          <div class="card-body">
            <input class="card-title" name="temp2" value="Original Video">
          </div>
        </div>
      </div>
      <br>
      <label for="">Select sound:</label>
      <select name="sound" id="">
          <option value="no_sound">No Sounds</option>
          <option value="s_from_original">Sound from original</option>
          <option value="s_from_merged">Sound from merged</option>
          <option value="s_from_both">Sound from both</option>
      </select><br>
      <button type="submit" class="btn btn-success">Select</button>
      </form>
    </div>
    <div class="both-card">
      <form action="" method="POST">
        {% csrf_token %}
      <div class="card3">
        <div class="card original" style="width: 18rem;">
          <div class="card-body">
            <input class="card-title" name="temp3" value="Original Video">
          </div>
        </div>
        <div class="card merged" style="width: 18rem;">
          <div class="card-body">
            <input class="card-title" name="temp3" value="Merged Video">
          </div>
        </div>
      </div>
      <br>
      <label for="">Select sound:</label>
      <select name="sound" id="">
          <option value="no_sound">No Sounds</option>
          <option value="s_from_original">Sound from original</option>
          <option value="s_from_merged">Sound from merged</option>
          <option value="s_from_both">Sound from both</option>
      </select><br>
      <button type="submit" class="btn btn-success">Select</button>
      </form>
    </div>
    <div class="both-card">
      <form action="" method="POST">
        {% csrf_token %}
      <div class="card3">
        <div class="card merged" style="width: 18rem;">
          <div class="card-body">
            <input class="card-title" name="temp4" value="Merged Video">
          </div>
        </div>
        <div class="card original" style="width: 18rem;">
          <div class="card-body">
            <input class="card-title" name="temp4" value="Original Video">
          </div>
        </div>
      </div>
      <br>
      <label for="">Select sound:</label>
      <select name="sound" id="">
          <option value="no_sound">No Sounds</option>
          <option value="s_from_original">Sound from original</option>
          <option value="s_from_merged">Sound from merged</option>
          <option value="s_from_both">Sound from both</option>
      </select><br>
      <button type="submit" class="btn btn-success">Select</button>
      </form>
    </div>
   </div>
  
  </section>
  <hr>
  <section>
    <h4>Template 1-1</h4>
    <div class="1-1">
      <div class="both-card">
        <form action="" method="POST">
          {% csrf_token %}
        <div class="card1">
          <div class="card original" style="width: 18rem;">
            <div class="card-body">
              <input class="card-title" name="temp5" value="Original Video">
            </div>
          </div>
          <div class="card merged" style="width: 18rem;">
            <div class="card-body">
              <input class="card-title" name="temp5" value="Merged Video">
            </div>
          </div>
        </div>
        <br>
        <label for="">Select sound:</label>
        <select name="sound" id="">
          <option value="no_sound">No Sounds</option>
          <option value="s_from_original">Sound from original</option>
          <option value="s_from_merged">Sound from merged</option>
          <option value="s_from_both">Sound from both</option>
        </select><br>   
        <button type="submit" class="btn btn-success">Select</button>
        </form>
      </div>
      <div class="both-card">
        <form action="" method="POST">
          {% csrf_token %}
        <div class="card2">
          <div class="card merged" style="width: 18rem;">
            <div class="card-body">
              <input class="card-title" name="temp6" value="Merged Video">
            </div>
          </div>
          <div class="card original" style="width: 18rem;">
            <div class="card-body">
              <input class="card-title" name="temp6" value="Original Video">
            </div>
          </div>
        </div>
        <br>
        <label for="">Select sound:</label>
        <select name="sound" id="">
          <option value="no_sound">No Sounds</option>
          <option value="s_from_original">Sound from original</option>
          <option value="s_from_merged">Sound from merged</option>
          <option value="s_from_both">Sound from both</option>
        </select><br>
        <button type="submit" class="btn btn-success">Select</button>
        </form>
      </div>
      <div class="both-card">
        <form action="" method="POST">
          {% csrf_token %}
        <div class="card3">
          <div class="card original" style="width: 18rem;">
            <div class="card-body">
              <input class="card-title" name="temp7" value="Original Video">
            </div>
          </div>
          <div class="card merged" style="width: 18rem;">
            <div class="card-body">
              <input class="card-title" name="temp7" value="Merged Video">
            </div>
          </div>
        </div>
        <br>
        <label for="">Select sound:</label>
        <select name="sound" id="">
          <option value="no_sound">No Sounds</option>
          <option value="s_from_original">Sound from original</option>
          <option value="s_from_merged">Sound from merged</option>
          <option value="s_from_both">Sound from both</option>
        </select><br>
        <button type="submit" class="btn btn-success">Select</button>
        </form>
      </div>
      <div class="both-card">
        <form action="" method="POST">
          {% csrf_token %}
        <div class="card3">
          <div class="card merged" style="width: 18rem;">
            <div class="card-body">
              <input class="card-title" name="temp8" value="Merged Video">
            </div>
          </div>
          <div class="card original" style="width: 18rem;">
            <div class="card-body">
              <input class="card-title" name="temp8" value="Original Video">
            </div>
          </div>
        </div>
        <br>
        <label for="">Select sound:</label>
        <select name="sound" id="">
          <option value="no_sound">No Sounds</option>
          <option value="s_from_original">Sound from original</option>
          <option value="s_from_merged">Sound from merged</option>
          <option value="s_from_both">Sound from both</option>
        </select><br>
        <button type="submit" class="btn btn-success">Select</button>
        </form>
      </div>
    </div>
  </section>
  


  <section>
    <div class="create-template" id="create-template" style="display: block;">
      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Original video placement</label>
            <select id="inputState" required name="o_place" class="form-control">
              <option selected>Choose placement...</option>
              <option value="top">Top</option>
              <option value="bottom">Bottom</option>
              <option value="left">Left side</option>
              <option value="right">Right side</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Merged video placement</label>
            <select id="inputState" required name="m_place" class="form-control">
              <option selected>Choose placement...</option>
              <option value="top">Top</option>
              <option value="bottom">Bottom</option>
              <option value="left">Left side</option>
              <option value="right">Right side</option>
            </select>
          </div>
        </div>
        
        <div class="form-row temp">
          <div class="form-group col-md-2">
            <label for="inputState">Template size:</label><br>
            <span onclick="temp_1_1()"> 1-1 </span> 
            <span onclick="temp_9_16()">9-16</span>
          </div>
        </div>
  
        <div class="form-row" id="size-input" style="display: none;">
          <div class="form-group col-md-2">
            <label for="inputCity">Width</label>
            <input type="number" required name="width" id="width" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Height</label>
            <input type="number" required name="height" id="height" class="form-control" id="inputZip">
          </div>
        </div>
  
        <div class="form-row form-group col-md-4">
          <label for="inputState">Select sound</label>
          <select id="inputState" required name="sound" class="form-control">
            <option selected>Choose sound...</option>
            <option value="no_sound">No Sounds</option>
            <option value="s_from_original">Sound from original</option>
            <option value="s_from_merged">Sound from merged</option>
            <option value="s_from_both">Sound from both</option>
          </select>
        </div>
        <button type="submit" onclick="progress()" class="btn btn-primary">Create</button>      
      </form>
    </div>
  </section>  