<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <style>
        section{
            text-align: center;
            margin: 5%;
        }
    </style>
    
    <section>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="cutting">
                <label for="">Choose part to cut:</label>
                <select name="cut" id="">
                    <option value="middle">Middle</option>
                    <option value="beginning">Beginning</option>
                    <option value="end">End</option>
                </select>
            </div>
            <div class="sound">
                <label for="">Choose sound of your video</label>
                <select name="sound" id="">
                    <option value="no_sound">No Sounds</option>
                    <option value="s_from_original">Sound from original</option>
                    <option value="s_from_merged">Sound from merged</option>
                    <option value="s_from_both">Sound from both</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Select</button>
        </form>
    </section>

</body>
</html>